<div class="credHead">
    <div class="registerHeader{{#if logField}}{{else}} activeCred{{/if}}">Register</div>
    <div class="loginHeader{{#if logField}} activeCred{{else}}{{/if}}">Log In</div>
</div>
<div class="credBody">
    <div class="register{{#if logField}}{{else}} activeCred{{/if}}">
        <p>In order for you to sign the petition, you will need to create a user account.</p>
        <p>Based on your email address we make sure, that each supporter is unique.</p>
        <form method="post">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            {{!-- <input type="text" name="city" placeholder="Your City (optional)"> --}}
            <input type="email" name="email" placeholder="your email address">
            <input type="password" name="plainPW" placeholder="password">
            <input name="_csrf" value="{{csrfToken}}" type="hidden">
            <button name="register" value="true" type="submit">Register</button>
        </form>
    </div>
    <div class="login{{#if logField}} activeCred{{else}}{{/if}}">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugiat necessitatibus expedita, voluptas alias consectetur in officiis non id, provident laboriosam! Quo impedit quis recusandae odit quas ipsam consequuntur. Officia?</p>
            <form method="post">
            <input type="email" name="email" placeholder="your email address">
            <input type="password" name="plainPW" placeholder="password">
            <input name="_csrf" value="{{csrfToken}}" type="hidden">
            <button name="login" value="true" type="submit">Log In</button>
        </form>
    </div>
</div>
<div class="registerMessage {{#if registerError}}error{{/if}}">
    {{registerError}}
</div>
<script>
    var register = document.querySelector(".register");
    var registerHeader = document.querySelector(".registerHeader");
    var login = document.querySelector(".login");
    var loginHeader = document.querySelector(".loginHeader");

    if (!login.classList.contains("activeCred")) {
        login.style.display = "none";
    }
    if (!register.classList.contains("activeCred")) {
        register.style.display = "none";
    }

    loginHeader.addEventListener("click", (e) => {
        register.style.display = "none";
        login.style.display = "flex";
        loginHeader.classList.add("activeCred");
        login.classList.add("activeCred");
        register.classList.remove("activeCred");
        registerHeader.classList.remove("activeCred");
        document.querySelectorAll(".login > form > input")[0].focus();
    });

    registerHeader.addEventListener("click", (e) => {
        register.style.display = "flex";
        login.style.display = "none";
        loginHeader.classList.remove("activeCred");
        login.classList.remove("activeCred");
        register.classList.add("activeCred");
        registerHeader.classList.add("activeCred");
        document.querySelectorAll(".register > form > input")[0].focus();
    });

</script>