<div class="subframeLeftTop">
    <div class="logPic">{{activeUser.initials}}</div>
    <div class="functionsHead">
        <h3>Manage your Data</h3>
    </div>
</div>
<div class="subframeLeftMain">
    <form method="post">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <p class="edit">edit</p>
        <table>{{#activeUser}}
            <tr class="dataRow">
                <td>Name: </td>
                <td class="firstEdit">{{first}}</td>
            </tr>
            <tr class="dataRow">
                <td></td>
                <td class="lastEdit">{{last}}</td>
            </tr>
            <tr class="dataRow">
                <td>Age: </td>
                <td class="ageEdit optional">{{age}}</td>
            </tr>
            <tr class="dataRow">
                <td>City: </td>
                <td class="cityEdit optional">{{city}}</td>
            </tr>
            <tr class="dataRow">
                <td>Website: </td>
                <td class="urlEdit optional">{{url}}</td>
            </tr>
            <tr class="dataRow">
                <td>E-Mail: </td>
                <td class="emailEdit">{{email}}</td>{{/activeUser}}
            </tr>
            <tr class="dataRow">
                <td>Password: </td>
                <td class="passwordEdit">&bull;&bull;&bull;&bull;</td>
            </tr>
        </table>
        <div class="buttons">
                    <button type="submit" name="confirm" value="confirm" style="width: 100%">Submit Changes</button>
                    <button type="submit" name="deleteUser" value="delete" style="color: red; width: 40%">delete User</button>
                    <button type="submit" name="sigDel" value="sigDel" style="color: red; width: 40%">delete Signature</button>
        </div>
        <div class="editMessage {{#if editError}}error{{/if}}">
    {{editError}}
</div>
    </form>
</div>

<script>
    var firstEdit = document.querySelector(".firstEdit");
    var lastEdit = document.querySelector(".lastEdit");
    var ageEdit = document.querySelector(".ageEdit");
    var cityEdit = document.querySelector(".cityEdit");
    var urlEdit = document.querySelector(".urlEdit");
    var emailEdit = document.querySelector(".emailEdit");
    var passwordEdit = document.querySelector(".passwordEdit");
    var edit = document.querySelector(".edit");
    var buttons = document.querySelector(".buttons");
    var arr = [firstEdit, lastEdit, ageEdit, cityEdit, urlEdit, emailEdit, passwordEdit];
    var fields = [];

    edit.addEventListener("click", (e) => {
        if (e.target.innerText == "edit") {
            for (var i=0; i<arr.length; i++) {
                fields[i] = arr[i].innerHTML;
            }
            arr.forEach((element) => {
                if (element.classList.contains("optional")) {
                    element.innerHTML = `<input type="text" name="new" value="${element.innerText}" placeholder="delete data">`;
                } else if (element.classList.contains("passwordEdit")) {
                    element.innerHTML = `<input type="password" name="new" placeholder="no changes">`;
                } else if (element.classList.contains("emailEdit")) {
                    element.innerHTML = `<input type="email" name="new" value="${element.innerText}" placeholder="unchanged">`;

                } 
                else {
                    element.innerHTML = `<input type="text" name="new" value="${element.innerText}" placeholder="unchanged">`;

                }

            });
            edit.innerText = "cancel";
            buttons.style.display = "flex";
        } else {
            for (var i = 0; i < arr.length; i++) {
                arr[i].innerHTML = fields[i];
            }
            edit.innerText = "edit";
            buttons.style.display = "none";
        }
    });
</script>