<div class="subframeRight">
<h2>we display all {{count}} participants here</h2>
<table class="listedParticipants">
    <thead><td>Full Name</td><td>Age</td><td>City</td></thead>
    <tbody>
        {{#list}}
        <tr>
            <td>{{#if url}}<a href="{{url}}">{{first}} {{last}}</a>{{else}}{{first}} {{last}}{{/if}}</td>
            <td>{{age}}</td>
            <td><a href="/participants/{{city}}">{{city}}</a></td>
        </tr>
    {{/list}}
    </tbody>
</table>
<p><a href="/thanks">go back!</a></p>

</div>


